PROJECT=project

###> NGINX ###
NGINX_PORT=80
###< NGINX ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=c3abe1ef9569e986cbea5a1ebdc8b506
###< symfony/framework-bundle ###

###> REDIS ###
REDIS_PASSWORD=project
REDIS_HOST=redis
REDIS_PORT=6379
###< REDIS ###

###> doctrine/doctrine-bundle ###
MYSQL_ROOT_PASSWORD=project
MYSQL_USER=project
MYSQL_PASSWORD=project
MYSQL_DATABASE=project
MYSQL_PORT=3306
MYSQL_HOST=mysql
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}/${MYSQL_DATABASE}?serverVersion=13&charset=utf8"

CLICKHOUSE_ROOT_PASSWORD=root
CLICKHOUSE_USER=project
CLICKHOUSE_PASSWORD=project
CLICKHOUSE_DATABASE=project
CLICKHOUSE_PORT=8123
CLICKHOUSE_HOST=clickhouse
###< doctrine/doctrine-bundle ###

###> RABBITMQ ###
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
RABBITMQ_DEFAULT_VHOST=/
###> RABBITMQ ###

###> symfony/messenger ###
# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/%2f/messages?vhost=${RABBITMQ_DEFAULT_VHOST}
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
# MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
